In [1]:
sc

Intitializing Scala interpreter ...

Spark Web UI available at http://localhost:4040
SparkContext available as 'sc' (version = 3.0.0, master = local[*], app id = local-1600065727475)
SparkSession available as 'spark'

res0: org.apache.spark.SparkContext = org.apache.spark.SparkContext@601ca4f3

In [2]:
val rdata=sc.textFile("Data/ml-100k/u.data")
val ritem=sc.textFile("Data/ml-100k/u.item")
val ruser=sc.textFile("Data/ml-100k/u.user")
val look=sc.textFile("Data/ml-100k")

rdata: org.apache.spark.rdd.RDD[String] = Data/ml-100k/u.data MapPartitionsRDD[1] at textFile at <console>:25
ritem: org.apache.spark.rdd.RDD[String] = Data/ml-100k/u.item MapPartitionsRDD[3] at textFile at <console>:26
ruser: org.apache.spark.rdd.RDD[String] = Data/ml-100k/u.user MapPartitionsRDD[5] at textFile at <console>:27
look: org.apache.spark.rdd.RDD[String] = Data/ml-100k MapPartitionsRDD[7] at textFile at <console>:28

In [3]:
rdata.first();
ritem.first();
ruser.first();

res1: String = 1|24|M|technician|85711

In [4]:
val head1 = rdata.take(10);
val head2 = ritem.take(10);
val head3 = ruser.take(10)

head1: Array[String] = Array(196	242	3	881250949, 186	302	3	891717742, 22	377	1	878887116, 244	51	2	880606923, 166	346	1	886397596, 298	474	4	884182806, 115	265	2	881171488, 253	465	5	891628467, 305	451	3	886324817, 6	86	3	883603013)
head2: Array[String] = Array(1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0, 2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0, 3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0, 4|Get Shorty (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|0|1|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0, 5|Copycat (1995)|01-Jan-1995||ht...

In [5]:
head1.foreach(println);
head2.foreach(println);
head3.foreach(println);

196	242	3	881250949
186	302	3	891717742
22	377	1	878887116
244	51	2	880606923
166	346	1	886397596
298	474	4	884182806
115	265	2	881171488
253	465	5	891628467
305	451	3	886324817
6	86	3	883603013
1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0
2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
4|Get Shorty (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|0|1|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0
5|Copycat (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Copycat%20(1995)|0|0|0|0|0|0|1|0|1|0|0|0|0|0|0|0|1|0|0
6|Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995||http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
7|Twelve Monkeys (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Twelve%20Monkeys%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|1|0|0|0
8|Babe (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Babe%20(1995)|0|0|0|0|1|1|0|0|1|0|0|0|0|0|0|0|0|0|0
9|Dead Man Walking (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Dead%20Man%20Walking%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
10|Richard III (1995)|22-Jan-1996||http://us.imdb.com/M/title-exact?Richard%20III%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|1|0
1|24|M|technician|85711
2|53|F|other|94043
3|23|M|writer|32067
4|24|M|technician|43537
5|33|F|other|15213
6|42|M|executive|98101
7|57|M|administrator|91344
8|36|M|administrator|05201
9|29|M|student|01002
10|53|M|lawyer|90703

In [6]:
val user=spark.read.option("delimiter","|").option("inferSchema","true").csv("Data/ml-100k/u.user")
val item=spark.read.option("delimiter","|").option("inferSchema","true").csv("Data/ml-100k/u.item")

user: org.apache.spark.sql.DataFrame = [_c0: int, _c1: int ... 3 more fields]
item: org.apache.spark.sql.DataFrame = [_c0: int, _c1: string ... 22 more fields]

In [7]:
user.select($"_c0".alias("user id"),$"_c2".alias("age"),$"_c0".alias("gender"),$"_c0".alias("occupation"),$"_c0".alias("zipcode")).show();

+-------+---+------+----------+-------+
|user id|age|gender|occupation|zipcode|
+-------+---+------+----------+-------+
|      1|  M|     1|         1|      1|
|      2|  F|     2|         2|      2|
|      3|  M|     3|         3|      3|
|      4|  M|     4|         4|      4|
|      5|  F|     5|         5|      5|
|      6|  M|     6|         6|      6|
|      7|  M|     7|         7|      7|
|      8|  M|     8|         8|      8|
|      9|  M|     9|         9|      9|
|     10|  M|    10|        10|     10|
|     11|  F|    11|        11|     11|
|     12|  F|    12|        12|     12|
|     13|  M|    13|        13|     13|
|     14|  M|    14|        14|     14|
|     15|  F|    15|        15|     15|
|     16|  M|    16|        16|     16|
|     17|  M|    17|        17|     17|
|     18|  F|    18|        18|     18|
|     19|  M|    19|        19|     19|
|     20|  F|    20|        20|     20|
+-------+---+------+----------+-------+
only showing top 20 rows

In [8]:
item.show()

+---+--------------------+-----------+----+--------------------+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|_c0|                 _c1|        _c2| _c3|                 _c4|_c5|_c6|_c7|_c8|_c9|_c10|_c11|_c12|_c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20|_c21|_c22|_c23|
+---+--------------------+-----------+----+--------------------+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|  1|    Toy Story (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  1|  1|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
|  2|    GoldenEye (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  1|  1|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
|  3|   Four Rooms (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
|  4|   Get Shorty (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  1|  0|  0|  0|   1|   0|   0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
|  5|      Copycat (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   1|   0|   1|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
|  6|Shanghai Triad (Y...|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   0|   0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
|  7|Twelve Monkeys (1...|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   0|   0|   1|   0|   0|   0|   0|   0|   0|   1|   0|   0|   0|
|  8|         Babe (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  1|   1|   0|   0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
|  9|Dead Man Walking ...|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   0|   0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
| 10|  Richard III (1995)|22-Jan-1996|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   0|   0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   1|   0|
| 11|Seven (Se7en) (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
| 12|Usual Suspects, T...|14-Aug-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
| 13|Mighty Aphrodite ...|30-Oct-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
| 14|  Postino, Il (1994)|01-Jan-1994|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   0|   0|   1|   0|   0|   0|   0|   0|   1|   0|   0|   0|   0|
| 15|Mr. Holland's Opu...|29-Jan-1996|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   0|   0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
| 16|French Twist (Gaz...|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|   0|   0|
| 17|From Dusk Till Da...|05-Feb-1996|null|http://us.imdb.co...|  0|  1|  0|  0|  0|   1|   1|   0|   0|   0|   0|   1|   0|   0|   0|   0|   1|   0|   0|
| 18|White Balloon, Th...|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   0|   0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
| 19|Antonia's Line (1...|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   0|   0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
| 20|Angels and Insect...|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   0|   0|   1|   0|   0|   0|   0|   0|   1|   0|   0|   0|   0|
+---+--------------------+-----------+----+--------------------+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

summmary.show()

In [9]:
val data=spark.read.option("delimiter","\t").option("inferSchema","true").csv("Data/ml-100k/u.data")

data: org.apache.spark.sql.DataFrame = [_c0: int, _c1: int ... 2 more fields]

In [10]:
data.select($"_c0".alias("user id"),$"_c2".alias("item id"),$"_c0".alias("rating"),$"_c0".alias("timestamp")).show();

+-------+-------+------+---------+
|user id|item id|rating|timestamp|
+-------+-------+------+---------+
|    196|      3|   196|      196|
|    186|      3|   186|      186|
|     22|      1|    22|       22|
|    244|      2|   244|      244|
|    166|      1|   166|      166|
|    298|      4|   298|      298|
|    115|      2|   115|      115|
|    253|      5|   253|      253|
|    305|      3|   305|      305|
|      6|      3|     6|        6|
|     62|      2|    62|       62|
|    286|      5|   286|      286|
|    200|      5|   200|      200|
|    210|      3|   210|      210|
|    224|      3|   224|      224|
|    303|      3|   303|      303|
|    122|      5|   122|      122|
|    194|      2|   194|      194|
|    291|      4|   291|      291|
|    234|      2|   234|      234|
+-------+-------+------+---------+
only showing top 20 rows

In [11]:
data.printSchema()
item.printSchema()
user.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: integer (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: integer (nullable = true)

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: integer (nullable = true)
 |-- _c6: integer (nullable = true)
 |-- _c7: integer (nullable = true)
 |-- _c8: integer (nullable = true)
 |-- _c9: integer (nullable = true)
 |-- _c10: integer (nullable = true)
 |-- _c11: integer (nullable = true)
 |-- _c12: integer (nullable = true)
 |-- _c13: integer (nullable = true)
 |-- _c14: integer (nullable = true)
 |-- _c15: integer (nullable = true)
 |-- _c16: integer (nullable = true)
 |-- _c17: integer (nullable = true)
 |-- _c18: integer (nullable = true)
 |-- _c19: integer (nullable = true)
 |-- _c20: integer (nullable = true)
 |-- _c21: integer (nullable = true)
 |-- _c22: integer (nullable = true)
 |-- _c23: integer (nullable = true)

root
 |-- _c0: integer (nullable = true)
 |-- _c1: integer (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

In [12]:
data.cache()
item.cache()
user.cache()

res7: user.type = [_c0: int, _c1: int ... 3 more fields]

In [13]:
val summary_user=data.select($"_c0".alias("user"),$"_c2".alias("rating")).describe()

summary_user: org.apache.spark.sql.DataFrame = [summary: string, user: string ... 1 more field]

In [14]:
summary_user.show()
//Calculate average, std, min, max score of each user

+-------+------------------+------------------+
|summary|              user|            rating|
+-------+------------------+------------------+
|  count|            100000|            100000|
|   mean|         462.48475|           3.52986|
| stddev|266.61442012750905|1.1256735991443214|
|    min|                 1|                 1|
|    max|               943|                 5|
+-------+------------------+------------------+

In [15]:
val summary_item=data.select($"_c0".alias("user"),$"_c2".alias("rating")).describe()

summary_item: org.apache.spark.sql.DataFrame = [summary: string, user: string ... 1 more field]

In [16]:
summary_item.show()
//Calculate average, std, min, max score of each item

+-------+------------------+------------------+
|summary|              user|            rating|
+-------+------------------+------------------+
|  count|            100000|            100000|
|   mean|         462.48475|           3.52986|
| stddev|266.61442012750905|1.1256735991443214|
|    min|                 1|                 1|
|    max|               943|                 5|
+-------+------------------+------------------+